.Detail_Image{
    margin-top: 10em;
    margin-left: 150px;
}

.Detail_Product{
    margin-left: 500px;
    margin-right: 500px;
    float: left;
}

.Text_Product{
    margin-top: 10em;
    float: right;
    width: 40%;
    text-align: center;
}

.Description{
    margin-top: 100px;
}
