
.register{
    background-color: grey;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 400px;
    margin-top: 10em;
    margin-bottom: 10em;
}

.form_register{
    background-color: white;
    width: 250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    text-align: center;
    color: aliceblue;
}

.link_register{
    color: black;
}

.link_register:hover{
    color: gray;
}

.img_logo{
    margin-top: 15px;
    width: 250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    text-align: center;
    float: left;
    /* width: 50%; */
}

.form{
    text-align: center;
    float: right;
    width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
